doctype html
html
  head
    title= '让沟通更平等'
    meta(name="viewport" content="initial-scale=1, maximum-scale=1")
    meta(name='description' content='帮助听障人士进行更平等的交流')
    link(rel='stylesheet', href='/stylesheets/style.css')
    //link(rel='stylesheet', href='https://cdn.bootcss.com/video.js/6.2.8/video-js.min.css')
    link(rel='stylesheet', href='/stylesheets/video-js.css')
    script(src='https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js')
    script(src='/javascripts/iscroll.js')
    //script(src='https://cdn.bootcss.com/iScroll/5.2.0/iscroll.min.js')
  body
    block content
//script(src='https://cdn.bootcss.com/video.js/6.2.8/video.min.js')
script(src='/javascripts/video.js')
script(src='/javascripts/index.js')
